.html, .css{
    border-bottom: 3px solid black;
}
html {
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
.achievements {
    display: inherit;
    justify-content: space-around;
}
.profile {
    padding: 50px;
    width: 70px;
    display: inherit;
    flex-direction:inherit;
    align-items: center;
    align-self: center;
    background-color: #32CD32;
    color:white;
}