.html, .css{
    border-bottom: 3px solid black;
}
html {
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
.achievements {
    display: inherit;
    justify-content: space-around;
}